
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: 512px;
  height: 100vh;
  user-select: none;

}

#game-container {
  position: relative;
  user-select: none;

}

#ui-overlay {
  visibility: hidden;
  /* Initially hidden */
  position: fixed;
  bottom: 0;
  left: 55%;
  transform: translateX(-50%);
  user-select: none;

}

#wipe-text {
  visibility: hidden;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Marker Felt", cursive;
  color: black;
  text-shadow: 0px 0px 12px white;
  font-size: 74px;
  user-select: none;
  touch-action: manipulation;
}

#pause-text {
  visibility: hidden;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Marker Felt", cursive;
  color: black;
  text-shadow: 0px 0px 12px white;
  font-size: 74px;
  user-select: none;
  touch-action: manipulation;
}
#spawn-text {
  visibility: hidden;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Marker Felt", cursive;
  color: black;
  text-shadow: 0px 0px 12px white;
  font-size: 74px;
  user-select: none;
  touch-action: manipulation;
}

#round-text {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Marker Felt", cursive;
  color: black;
  text-shadow: 0px 0px 12px white;
  font-size: 74px;
  user-select: none;
  touch-action: manipulation;
}

#pause-button {
  visibility: hidden;
  /* Initially hidden */
  position: fixed;
  top: 10px;
  left: 10px;
  background-image: url("https://i.imgur.com/HTeDEQJ.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
}

#coffee-button {
  visibility: hidden;
  font-family: "Marker Felt", cursive;
  font-weight: bold;
  /* Initially hidden */
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-image: url("https://i.imgur.com/Ft63zNi.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  /* Prevent text from wrapping */
  text-align: left;
  /* Include padding and border in the width */
  padding-right: 5px;
  /* Add padding to align with the right edge */
  touch-action: manipulation;
}

#coffee-amount {
  position: absolute;
  font-size: 36px;
  bottom: 0px;
  left: 65px;
  width: 100%;
  padding: 5px;
  background-color: transparent;
  color: #3a2206;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: #fff;
  -webkit-text-fill-color: #3a2206;
  touch-action: manipulation;
}


#character-portrait {

  width: 46px;
  height: 46px;
  background-image: url("https://i.imgur.com/yzzwAH6.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: -44px;
  top: 0px;
  user-select: none;
  filter: sepia(0%);
  -webkit-touch-callout: none;
  /* Disable callout on iOS devices */
  outline: none;

}

.cooldown-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  pointer-events: none;
  animation: cooldown 3s linear;
  animation-fill-mode: forwards;
  user-select: none;
  -webkit-touch-callout: none;
  /* Disable callout on iOS devices */
  outline: none;

}

@keyframes cooldown {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}



#character-level {
  position: absolute;
  bottom: 46px;
  left: -40px;
  color: rgb(255, 255, 255);
  font-family: "Fredoka One", Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px .1px rgb(0, 0, 0), 0 0 .1em rgb(0, 0, 255), 0 0 0.1em rgb(255, 0, 0);
  font-size: 12px;
  user-select: none;
  touch-action: manipulation;
}

#enemy-portrait {
  width: 46px;
  height: 46px;
  background-image: url("https://i.imgur.com/1EFx7kH.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 200px;
  top: 0px;
  filter: grayscale(0%);
  display: none;
  user-select: none;
  touch-action: manipulation;
  /* Hide the element by default */
}

#health-bar {
  width: 200px;
  height: 20px;
  background-color: #53282891;
  border: 2px solid #000;
  position: relative;
  user-select: none;
  touch-action: manipulation;
}

#health-bar-fill {
  height: 100%;
  background-color: rgba(221, 24, 24, 0.849);
  user-select: none;
  touch-action: manipulation;
}

#exp-bar {
  width: 200px;
  height: 20px;
  background-color: #4846a0e1;
  border: 2px solid #000;
  position: relative;
  margin-top: -2px;
  user-select: none;
  touch-action: manipulation;
}

#exp-bar-fill {
  height: 100%;
  background-color: #2797d8ec;
  width: 3%;
  /* Set the initial width to 1% */
  user-select: none;
  touch-action: manipulation;
}







#character-portrait {

  width: 46px;
  height: 46px;
  background-image: url("https://i.imgur.com/yzzwAH6.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: -44px;
  top: 0px;
  user-select: none;
  filter: sepia(0%);
  cursor: pointer;

}

#character-portrait.active {
  filter: sepia(100%);

}

#character-info.active {
  visibility: visible;
  touch-action: manipulation;
}

.bar-text {
  font-family: "Marker Felt", cursive;
  position: absolute;
  top: 41%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  white-space: nowrap;
  /* Prevent text from wrapping */
  text-align: left;
  /* Align the text to the left */
  width: 100%;
  /* Set the width to 100% */
  box-sizing: border-box;
  /* Include padding and border in the width */
  padding-right: 5px;
  /* Add padding to align with the right edge */
  user-select: none;
  touch-action: manipulation;
}

.upgrade-box {
  outline: none;
  width: 46px;
  height: 46px;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #796011c7;
  /* Add a whimsical color for the outline */
  border-radius: 5px;
  /* Increase the border radius for a softer look */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  /* Adjust the box shadow for a subtle effect */
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  visibility: hidden;
  touch-action: manipulation;


}

/* Animation for appearing */
/* Animation for sliding up */
@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.upgrade-box.spd-upgrade {
  outline: none;
  background-color: rgba(214, 214, 37, 0.719);
  top: -50px;
  left: calc(45% - 70px);
  animation: appear 0.5s ease-in-out forwards, bounce 2s infinite;
  user-select: none;
  touch-action: manipulation;
}

.upgrade-box.hp-upgrade {
  outline: none;
  background-color: rgba(187, 34, 34, 0.74);
  top: -50px;
  left: calc(45% - 10px);
  /* Reduced spacing */
  animation: appear 0.5s ease-in-out forwards, bounce 2s infinite reverse;
  user-select: none;
  touch-action: manipulation;
}

.upgrade-box.attack-upgrade {
  outline: none;
  background-color: rgba(20, 110, 39, 0.74);
  top: -50px;
  left: calc(45% + 50px);
  /* Reduced spacing */
  animation: appear 0.5s ease-in-out forwards, bounce 2s infinite;
  user-select: none;
  touch-action: manipulation;
}


.upgrade-box.character-snail {
  outline: none;
  background-color: rgba(151, 22, 112, 0.753);
  top: -50px;
  left: calc(45% - 70px);
  animation: appear 0.5s ease-in-out forwards, bounce 2s infinite;
  user-select: none;
  touch-action: manipulation;
}

.upgrade-box.character-frog {
  outline: none;
  background-color: rgba(18, 139, 39, 0.753);
  top: -50px;
  left: calc(45% - 70px);
  animation: appear 0.5s ease-in-out forwards, bounce 2s infinite;
  user-select: none;
  touch-action: manipulation;
}

.upgrade-box.character-bird {
  outline: none;
  background-color: rgba(49, 47, 202, 0.801);
  top: -50px;
  left: calc(45% - 10px);
  /* Reduced spacing */
  animation: appear 0.5s ease-in-out forwards, bounce 2s infinite reverse;
  user-select: none;
  touch-action: manipulation;
}

.upgrade-box.character-bee {
  outline: none;
  background-color: rgba(225, 247, 36, 0.74);
  top: -50px;
  left: calc(45% + 50px);
  /* Reduced spacing */
  animation: appear 0.5s ease-in-out forwards, bounce 2s infinite;
  user-select: none;
  touch-action: manipulation;
}

.hp-indicator {
  visibility: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  touch-action: manipulation;
  background-color: rgba(182, 10, 10, 0.9);
  /* Change the background color to red with opacity 0.5 */
  z-index: 999;
}

.upgrade-box.character-snail .hp-indicator {
  --current-health: var(--current-health-snail);
  --max-health: var(--max-health-snail);
  width: calc(100% - var(--hp-indicator-height));
  touch-action: manipulation;
}

.upgrade-box.character-bird .hp-indicator {
  --current-health: var(--current-health-bird);
  --max-health: var(--max-health-bird);
  width: calc(100% - var(--hp-indicator-height));
  touch-action: manipulation;
}

.upgrade-box.character-bee .hp-indicator {
  --current-health: var(--current-health-bee);
  --max-health: var(--max-health-bee);
  width: calc(100% - var(--hp-indicator-height));
  touch-action: manipulation;
}

.upgrade-box.character-frog .hp-indicator {
  --current-health: var(--current-health-frog);
  --max-health: var(--max-health-frog);
  width: calc(100% - var(--hp-indicator-height));
  touch-action: manipulation;
}

.exp-indicator {
  visibility: inherit;
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  height: 10%;
  touch-action: manipulation;
  background-color: rgba(35, 4, 121, 0.966);
  /* Change the background color to red with opacity 0.5 */
  z-index: 999;
}

.exp-indicator .level {
  position: absolute;
  bottom: -10px;
  left: 36px;
  font-size: 20px;
  font-family: "Marker Felt", cursive;
  font-weight: bold;
  white-space: nowrap;
  /* Prevent text from wrapping */
  text-align: left;
  /* Add padding to align with the right edge */
  user-select: none;
  touch-action: manipulation;
  z-index: 99999999999999999;
}

.upgrade-box.character-snail .exp-indicator {
  --current-health: var(--current-exp-snail);
  --max-health: var(--max-exp-snail);
  width: calc(100% - var(--exp-indicator-height));
  touch-action: manipulation;
}

.upgrade-box.character-bird .exp-indicator {
  --current-health: var(--current-exp-bird);
  --max-health: var(--max-exp-bird);
  width: calc(100% - var(--exp-indicator-height));
  touch-action: manipulation;
}

.upgrade-box.character-bee .exp-indicator {
  --current-health: var(--current-exp-bee);
  --max-health: var(--max-exp-bee);
  width: calc(100% - var(--exp-indicator-height));
  touch-action: manipulation;
}

.upgrade-box.character-frog .exp-indicator {
  --current-health: var(--current-exp-frog);
  --max-health: var(--max-exp-frog);
  width: calc(100% - var(--exp-indicator-height));
  touch-action: manipulation;
}


.upgrade-box:hover {
  animation-play-state: paused;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.character-icon {
  font-size: 24px;
  color: green;
  /* Change the color to green */
  text-stroke: 2px black;
  /* Add stroke to the text */
  -webkit-text-fill-color: white;
  /* Fallback for older browsers */
  fill: white;
  /* Fill the text color */
  user-select: none;
  touch-action: manipulation;
}

#infoboxes {
  visibility: hidden;
  position: fixed;
  left: -80px;
  bottom: 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2px;
  /* Adjust the margin as needed */
  user-select: none;

  color: rgb(255, 255, 255);
  font-family: "Fredoka One", Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px .1px rgb(0, 0, 0), 0 0 .1em rgb(0, 0, 255), 0 0 0.1em rgb(255, 0, 0);
  font-size: 12px;
  user-select: none;
  touch-action: manipulation;
}

.infobox {

  display: flex;
  align-items: center;
  margin-bottom: -2px;
  /* Adjust the margin as needed */
}

.upgrade-box {
  margin-top: -4x;
  /* Adjust the margin as needed */
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

#snail {
  position: absolute;
  top: 12px;
  left: calc(4%);
  width: 60px;
  height: 60px;
  background-image: url('https://i.imgur.com/shRbAl5.png');
  background-size: cover;
  animation: snail-movement 100s linear infinite, snail-animation 1s steps(2) infinite;
  z-index: 4;
}

@keyframes snail-movement {
  0% {
    left: calc(4%);
  }
  100% {
    left: calc(88%);
  }
}

@keyframes snail-animation {
  0%, 49% {
    background-image: url('https://i.imgur.com/shRbAl5.png');
  }
  50%, 100% {
    background-image: url('https://i.imgur.com/r3DQaWf.png');
  }
}

#progress {
  position: fixed;
  top: 40px;
  left: 80px;
  width: 88%;
  height: 20px; /* Adjust the height of the progress bar as needed */
  background-color: rgba(0, 0, 0, 0.363); /* Use the desired semi-transparent color */
  z-index: 2;
}

#progress-filled {
  position: fixed;
  top: 40px;
  left: 80px;
  width: 0;
  height: 20px; /* Adjust the height of the progress bar as needed */
  background-color: rgba(0, 0, 0, 0.411); /* Use the desired opaque color */
  z-index: 3;
  animation: progress-fill 100s linear infinite;
}

@keyframes progress-fill {
  0% {
    width: 0;
  }
  100% {
    width: 84%;
  }
}
